* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Kumbh Sans", sans-serif;
}
p {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(237, 12%, 33%);
  font-size: 95%;
  margin-top: 5%;
}
hr.hır {
  border: 0;
  height: 1px;
  background-color: grey;
}
.main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 70%;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}
.left {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.right {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.women {
  margin-top: 30%;
  margin-left: -5vw;
  margin-right: -50vw;
  width: 400px;
  height: 330px;
}
.shadow {
  width: 600px;
  height: 600px;
  margin-left: -257px;
  margin-top: -35px;
  position: absolute;
}
.header {
  margin-top: 5%;
  margin-left: 6%;
}
.a {
  height: 12%;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin-top: 4%;
}
.myDIV {
  width: 100%;
  text-align: left;
  margin-top: 1px;
  margin-bottom: 10px;
  display: none;
}
h5 {
  font-family: "Kumbh Sans", sans-serif;
}
